.testimonial {
    margin-top: 80px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 1.8125rem 1px 1.8125rem;
    height: 500px;
    width: 300px;


    &__photo {
        border: 6px solid rgba(255, 255, 255, 0.8);
        border-radius: 80px;
        overflow: hidden;
        width: 160px ;
        height: 160px ;
        margin: 0 auto -80px auto;
        position: relative;
        top: -80px;
    }

    &__title {
        color: $mainBlue;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    &__subtitle {
        color: $mainOrange;
        text-align: center;
        font-weight: 400;
        font-size: 0.9375rem;
        margin: .25rem 0 1rem 0;
    }
}